<script lang="ts">
	import type { SvelteElement } from 'svelte/internal';
	import Vertical from '../vertical/Vertical.svelte';
	import Horizontal from '../horizontal/Horizontal.svelte';
	export let validationSteps: Array<() => Promise<{ isValid: boolean }>>;
	export let steps: typeof SvelteElement[];
</script>

<main class="form">
	<Vertical on:done {steps} {validationSteps} />
	<Horizontal on:done {steps} {validationSteps} />
</main>

<style>
	.form {
		display: flex;
		align-items: center;
		justify-content: center;
	}
</style>
