<script>
	import { user } from '../store';
</script>

<element>
	<label class="step-container__label" for="password"> Password </label>
	<input
		class="step-container__input"
		name="url"
		type="password"
		bind:value={$user.password}
		required
	/>
</element>

<style>
	.step-container__label {
		display: flex;
		font-size: 2vh;
		font-family: monospace;
	}

	.step-container__input {
		display: flex;
		background-color: #fff;
		border-top: 1px solid #6b6a6a;
		border-right: 1px solid #6b6a6a;
		border-bottom: 1px solid #6b6a6a;
		border-left: 1px solid #6b6a6a;
		border-radius: 5px;
		color: #363636;
		text-align: center;
		font-family: monospace;
		font-weight: bold;
		font-size: 2vh;
	}
</style>
