<script>
	import { currentStep, stepStatus } from '../store';
	export let stepNumber;
	export let vertical;
	$: wrong = $stepStatus[stepNumber] === false;
	$: selected = vertical
		? $stepStatus[stepNumber] === true
		: !wrong && $currentStep === stepNumber;
	$: clickable =
		(!vertical && stepNumber < $currentStep) || $stepStatus[stepNumber - 1];

	const handleClick = () => {
		clickable && currentStep.set(stepNumber);
	};
</script>

<div
	on:click={handleClick}
	class="stepper"
	class:vertical
	class:wrong
	class:selected
	class:hover={!vertical}
>
	{stepNumber + 1}
</div>

<style>
	.stepper {
		display: flex;
		padding: 5%;
		border-radius: 20px;
		background-color: white;
		font-size: 2vh;
		justify-content: center;
		align-items: center;
	}

	.vertical {
		margin-top: 4%;
	}

	.wrong {
		background-color: firebrick;
	}

	.hover:hover {
		background-color: lightgray;
	}

	.selected {
		background-color: rebeccapurple;
	}
</style>
