<script lang="ts">
	import type { SvelteElement } from 'svelte/internal';
	export let steps: typeof SvelteElement[];
	export let validationSteps: Array<() => Promise<{ isValid: boolean }>>;
	import Stepper from '../Stepper.svelte';
	import { range } from '../../utils';
	import { currentStep, stepStatus } from '../../store';
	import { createEventDispatcher } from 'svelte';

	let dispatch = createEventDispatcher();

	const handleSubmit = async () => {
		const { isValid } = await validationSteps[$currentStep]();
		if (isValid) {
			stepStatus.setTrue($currentStep);
			$currentStep < steps.length - 1 ? currentStep.increment() : dispatch('done');
		} else {
			stepStatus.setFalse($currentStep);
		}
	};
</script>

<element class="multiform--isHorizontal">
	<div class="stepper-container">
		{#each range(steps.length) as stepNumber}
			<Stepper {stepNumber} />
		{/each}
	</div>
	<form class="form" on:submit|preventDefault={handleSubmit}>
		<svelte:component this={steps[$currentStep]} />
		<button class="form__btn" type="submit">
			{$currentStep < steps.length ? 'Next' : 'Done'}!
		</button>
	</form>
</element>

<style>
	.multiform--isHorizontal {
		display: box;
		visibility: visible;
	}

	@media only screen and (min-width: 768px) {
		.multiform--isHorizontal {
			visibility: hidden;
			display: none;
		}
	}

	.form {
		display: flex;
		flex-flow: column;
		align-items: center;
	}

	.form__btn {
		background-color: #81419b;
		border: none;
		border-radius: 20px;
		padding: 0 10%;
		font-size: 3vh;
		font-weight: bold;
	}

	.form__btn:hover {
		background: #9061a4;
	}

	.stepper-container {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-around;
	}
</style>
