<script>
	export let show;
	$: showHideClassName = show
		? 'modal modal--isVisible'
		: 'modal modal--isHidden';
</script>

<div class={showHideClassName}>
	<section class="modal__main">
		<div class="spinner" />
	</section>
</div>

<style>
	.modal {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.6);
	}

	.modal--isVisible {
		display: block;
	}

	.modal--isHidden {
		display: none;
	}

	.modal__main {
		width: 80%;
		height: auto;
	}

	.spinner:before {
		content: '';
		box-sizing: border-box;
		position: absolute;
		left: 50%;
		top: 20%;
		width: 50px;
		margin-left: -10px;
		height: 50px;
		border-radius: 50%;
		border: 2px solid #000;
		border-top-color: #ccc;
		animation: spinner 0.6s linear infinite;
	}

	@keyframes spinner {
		to {
			transform: rotate(360deg);
		}
	}
</style>
