<script lang="ts">
	import type { SvelteElement } from 'svelte/internal';
	import Spinner from './spinner/Spinner.svelte';
	import First from './steps/First.svelte';
	import Second from './steps/Second.svelte';
	import Third from './steps/Third.svelte';
	import Multiform from './form/multiform/Multiform.svelte';
	import { api } from './api';
	import { user } from './store';

	let isSpinnerVisible = false;
	const validate = async (keys: string[]) => {
		const form = {};
		keys.map((key) => (form[key] = $user[key]));
		isSpinnerVisible = true;
		const out = await api.validate(form);
		isSpinnerVisible = false;
		return out;
	};

	const firsSubmit = () => validate(['firstName', 'username', 'email']);
	const secondSubmit = () => validate(['url']);
	const thirdSubmit = () => validate(['password']);

	const steps: typeof SvelteElement[] = [First, Second, Third];
</script>

<main class="app">
	<Spinner show={isSpinnerVisible} />
	<element class="signup__container">
		<h1 class="signup__title">Registrati</h1>
		<Multiform
			on:done={() => alert('done!')}
			{steps}
			validationSteps={[firsSubmit, secondSubmit, thirdSubmit]}
		/>
	</element>
</main>

<style>
	.app {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	.signup__container {
		display: flex;
		flex-direction: column;
		padding: 4% 5%;
		background-color: #ebebeb;
		border-radius: 8px / 7px;
		box-shadow: 1px 2px 5px rgb(129, 65, 155);
		border: solid 1px #cbc9c9;
	}

	.signup__title {
		font-size: 4vh;
		color: #81419b;
		text-align: center;
		font-family: monospace;
		font-weight: bold;
		margin-bottom: 5%;
	}
</style>
