<script lang="ts">
	import type { SvelteElement } from 'svelte/internal';
	export let steps: typeof SvelteElement[];
	export let validationSteps: Array<() => Promise<{ isValid: boolean }>>;
	import Stepper from '../Stepper.svelte';
	import { currentStep, stepStatus } from '../../store';
	import { createEventDispatcher } from 'svelte';

	let dispatch = createEventDispatcher();

	let handleSubmit = async () => {
		currentStep.set(-1);
		for (let validate of validationSteps) {
			const { isValid } = await validate();
			currentStep.increment();
			if (isValid) {
				await stepStatus.setTrue($currentStep);
				$currentStep === steps.length - 1 && dispatch('done');
			} else {
				stepStatus.setFalse($currentStep);
				break;
			}
		}
	};
</script>

<element class="multiform--isVertical">
	<form class="form" on:submit|preventDefault={handleSubmit}>
		{#each steps as step, stepNumber}
			<div class="vertical">
				<svelte:component this={step} />
				<Stepper vertical {stepNumber} />
			</div>
		{/each}
		<button class="form__btn" type="submit"> Done! </button>
	</form>
</element>

<style>
	.multiform--isVertical {
		display: none;
		visibility: hidden;
	}

	@media only screen and (min-width: 768px) {
		.multiform--isVertical {
			visibility: visible;
			display: block;
		}
	}

	.vertical {
		margin-left: 20%;
		display: flex;
		justify-content: flex-end;
		gap: 5px;
	}

	.form {
		display: flex;
		flex-flow: column;
		align-items: center;
	}

	.form__btn {
		background-color: #81419b;
		border: none;
		border-radius: 20px;
		padding: 0 10%;
		font-size: 3vh;
		font-weight: bold;
	}

</style>
